<!--{% load static %}-->

<!DOCtype html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'tictac/main.css' %}">

        <!-- <link rel="stylesheet" type="css" href="/home/ttucker/PycharmProjects/education/games/games/static/tictac/main.css">
        -->
    </head>
    <body onload="mode();">
    <div id="screen">
            <div class="article-metadata">
        <a class="mr-2" href="{% url 'index' %}">Home</a>
    </div>


    </div>
    <h1>Tic Tac Toe: {{ message }} </h1>
    <div id="reset"></div>

    <form  action="{% url 'gridclick' %}" method="GET" align="center" >
        {% csrf_token %}
        <button class="btnreset" type="submit" name="newgame">New Game</button>
    </form>

    <form  action="{% url 'gridclick' %}" method="GET" align="center" >
       {% csrf_token %}

        <button class="btn" type="submit" name='b0'>{{ grid.0.0 }}</button>
        <button class="btn" type="submit" name='b1'>{{ grid.0.1 }}</button>
        <button class="btn" type="submit" name='b2'>{{ grid.0.2 }}</button><br />
        <button class="btn" type="submit" name='b3'>{{ grid.1.0 }}</button>
        <button class="btn" type="submit" name='b4'>{{ grid.1.1 }}</button>
        <button class="btn" type="submit" name='b5'>{{ grid.1.2 }}</button><br />
        <button class="btn" type="submit" name='b6'>{{ grid.2.0 }}</button>
        <button class="btn" type="submit" name='b7'>{{ grid.2.1 }}</button>
        <button class="btn" type="submit" name='b8'>{{ grid.2.2 }}</button>
    </form>

    </body>
</html>