<!DOCtype html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/home/ttucker/PycharmProjects/education/games/games/static/tictac/main.css">

    </head>
    <body onload="mode();">
     <div id="screen">

    </div>
    <h1>Tic Tac Toe </h1>
    <div id="reset"></div>

    <button class="btnreset" id="resetbtn" onclick="resetclick()">Reset</button>

   <form  method="GET" align="center" >

        <button class="btn" type="submit" name='b0'></button>
        <button class="btn" type="submit" name='b1'>x</button>
        <button class="btn" type="submit" name='b2'></button><br />
        <button class="btn" type="submit" name='b3'>x</button>
        <button class="btn" type="submit" name='b4'></button>
        <button class="btn" type="submit" name='b5'></button><br />
        <button class="btn" type="submit" name='b6'></button>
        <button class="btn" type="submit" name='b7'></button>
        <button class="btn" type="submit" name='b8'></button>
</form>

    </body>
</html>